@import '../../../styles/base.scss';
.button {
	// padding: 10px 15px;
	width: 150px;
	height: 50px;
	border-radius: $border-radius;
	border: none;
	cursor: pointer;
	background: $background-color;
	font-size: 20px;
}
.button:hover {
	opacity: 0.9;
}
.button:active {
	background: #166e0e;
}
@media (max-width: 992px) {
	.button {
		width: 130px;
	}
}
@media (max-width: 576px) {
	.button {
		width: 200px;
	}
}